{% extends '::base.html.twig' %}

{% block title %}Артисты{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/front/page/artisty.css') }}">
{% endblock %}

{% block content %}
    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    <div class="space-fix-container"></div>

    {% block under_banner_text_widget %}
        <div class="container padding-0-100px" id="main-text-under-banner">
            <div class="text-center letter-spacing-1px banner-content-block">
                <p class="padding-0-100px">
                    {{ '
                    На базе Дворца культуры железнодорожников успешно работают артисты различных направлений.
                    28 творческих коллективов ДКЖ – это более 700 участников, многие из которых не только стали лауреатами престижных конкурсов и фестивалей, но и сделали карьеру на профессиональной сцене. Здесь поют и танцуют чемпионы России, Европы и мира!
                    Подробнее о коллективах и дополнительных услугах Вы можете узнать ниже.
' | nl2br }}
                </p>
            </div>
        </div>
    {% endblock %}

    <div class="space-fix-container"></div>

    <div class="container padding-left-0 padding-right-0 halls-list-block">

        {% for artist in artists %}
            {% set defaultImage = null %}

            {% if artist.files | length > 0 %}
                {% for file in artist.files %}
                    {% if file.isDefault == 1 %}
                        {% set defaultImage = file %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="col-xs-12 padding-0-100px single-hall xs-padding-0-10px">
                <div class="media">

                    {% if defaultImage is not null %}
                        {% set imgPath = asset('upload/artist/'~defaultImage.name) %}
                    {% else %}
                        {% set imgPath = asset('img/logo_dkj.jpg') %}
                    {% endif %}

                    <a class="pull-left" href="{{ path('front.artists.detail', {'artist': artist.id}) }}">
                        <img class="media-object" src="{{ imgPath }}" style="height: 256px; width: 256px; border-radius: 50%; margin-right: 20px;">
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading hall-label">
                            <a href="{{ path('front.artists.detail', {'artist': artist.id}) }}">{{ artist.title }}</a>
                        </h3>
                        <div class="by-author hall-description">
                            {{ artist.description }}
                        </div>
                        <a href="{{ path('front.artists.detail', {'artist': artist.id}) }}" class="read-more-link pull-right">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}