{% extends ':default/front:base.html.twig' %}

{% block title %} Главная | {{ parent() }} {% endblock %}

{#{% block stylesheets %}#}
    {#<link rel="stylesheet" href="{{ asset('css/front/page/index.css') }}">#}
{#{% endblock %}#}

{% block content %}

    ававав

    {#{% block main_banner_widget %}{{ parent() }}{% endblock %}#}

    {#<div class="space-fix-container"></div>#}

    {#{% block under_banner_text_widget %}#}
        {#<div class="container text-center col-xs-padding-right-0">#}

            {#<div class="container padding-0-100px" id="main-text-under-banner">#}
                {#<div class="text-center letter-spacing-1px banner-content-block col-xs-12">#}
                    {#<p>#}
                        {#{{ '#}
                        {#Свердловский Дворец культуры Железнодорожников – центр исторической и культурной жизни#}
                        {#Екатеринбурга!#}
                        {#Расположенный на пересечении важных логистических узлов Дворец Железнодорожников#}
                        {#стал своеобразной визитной карточкой столицы Урала.#}
                        {#Развитая инфраструктура и неограниченные технические возможности этого культурного пространства отвечают современным стандартам.#}
                        {#Крупные бизнес мероприятия, торжественные встречи, семинары и концерты: Дворец культуры стал#}
                        {#неотъемлемым участником важных городских и областных событий, а также территорией новых#}
                        {#возможностей!#}
{#' | nl2br }}#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}

        {#</div>#}
    {#{% endblock %}#}

    {#<div class="container text-center col-xs-padding-right-0">#}
        {#{% block widget_panel_block %}#}
            {#<div class="row widget-panel">#}
                {#<div class="col-md-5 single-widget padding-0-100px">#}
                    {#<a href="{{ path('front.portfolio') }}">#}
                        {#<span class="fa fa-camera fa-6x widget-panel-icon"></span>#}
                        {#<h4>Портфолио</h4>#}
                        {#<p>#}
                            {#{{ ' Фото и видео материалы#}
                {#с мероприятий Дворца культуры' | nl2br }}#}
                        {#</p>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="col-md-4 single-widget">#}
                    {#<a href="#">#}
                        {#<span class="fa fa-search fa-6x widget-panel-icon"></span>#}
                        {#<h4>Планы залов и информация</h4>#}
                        {#<p>#}
                            {#{{ 'Виртуальный  тур по Дворцу культуры железнодорожников' | nl2br }}#}
                        {#</p>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="col-md-5 col-md-offset-2 single-widget">#}
                    {#<a href="{{ path('halls.book_hall') }}">#}
                        {#<span class="fa fa-key fa-6x widget-panel-icon"></span>#}
                        {#<h4>Аренда залов</h4>#}
                        {#<p>#}
                            {#{{ 'Занятость залов#}
                {#на ближайший месяц' | nl2br }}#}
                        {#</p>#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
        {#{% endblock %}#}

        {#<div class="row space-fix-container"></div>#}

        {#{% block upcoming_events_block %}#}

            {#<div class="row upcoming-events xs-padding-0-10px">#}

                {#<div class="col-xs-12 col-lg-6 padding-0-100px text-left">#}
                    {#<a href="{{ path('event.list') }}">#}
                        {#<h4 id="upcoming-events-label">#}
                            {#Предстоящие мероприятия#}
                        {#</h4>#}
                    {#</a>#}
                    {#<div class="upcoming-event">#}
                        {#<ul class="media-list main-list">#}
                            {#{% for event in events %}#}
                                {#<li class="media">#}
                                    {#<div class="media-body">#}
                                        {#<div class="row event-heading">#}
                                            {#<div class="col-sm-10 col-xs-12 event-label">#}
                                                {#<h4>#}
                                                    {#<i class="fa fa-calendar"></i> {{ event.eventDate | date('d.m.Y') }}#}
                                                    {#| <i class="fa fa-clock-o"></i> {{ event.eventTime | date('H:i') }}#}
                                                    {#|&nbsp;#}
                                                    {#<a href="{{ path('event.details_page', {#}
                                                        {#'event': event.id#}
                                                    {#}) }}">#}
                                                        {#{{ event.title }}#}
                                                    {#</a>#}
                                                {#</h4>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="media-content">#}
                                            {#{% set description = event.description %}#}

                                            {#{% if event.description | length > 100 %}#}
                                                {#{% set description = event.description | slice (0,100) %}#}
                                                {#{% set description = description~'...' %}#}
                                            {#{% endif %}#}
                                            {#{{ description }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</li>#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-xs-12 col-lg-6 padding-0-100px text-left">#}

                    {#<a href="{{ path('front.news') }}">#}
                        {#<h4 class="label-underscored">Новости</h4>#}
                    {#</a>#}

                    {#<div class="upcoming-event">#}


                        {#<ul class="media-list main-list">#}
                            {#{% for item in news %}#}
                                {#<li class="media">#}
                                    {#<div class="media-body">#}
                                        {#<div class="row event-heading">#}
                                            {#<div class="col-sm-10 col-xs-12 event-label">#}
                                                {#<h4>#}
                                                    {#<a href="{{ path('front.news', {'news': item.id}) }}"#}
                                                       {#class="event-header">#}
                                                        {#<h3>{{ item.title }}</h3>#}
                                                    {#</a>#}
                                                    {#<h6>#}
                                                        {#<i class="fa fa-calendar"></i> {{ item.publishStartDate | date('d.m.Y') }}#}
                                                        {#| <i class="fa fa-user"></i> {{ item.author }}#}
                                                    {#</h6>#}
                                                {#</h4>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="media-content">#}
                                            {#{% set description = item.description %}#}

                                            {#{% if item.description | length > 100 %}#}
                                                {#{% set description = item.description | slice (0,100) %}#}
                                                {#{% set description = description~'...' %}#}
                                            {#{% endif %}#}
                                            {#{{ description }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</li>#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}

            {#</div>#}
        {#{% endblock %}#}
    {#</div>#}
    {#<div class="row space-fix-container"></div>#}

    {#{% block review_panel_block %}#}
        {#<div class="container-fluid padding-0-100px xs-padding-0-10px review-block">#}

            {#<div class="container padding-0-100px">#}
                {#<div class="row margin-right-0">#}
                    {#<div class="col-xs-12">#}
                        {#<a href="{{ path('front.review_list') }}">#}
                            {#<h4 id="reviews-block-label">Отзывы</h4>#}
                        {#</a>#}
                    {#</div>#}

                    {#{% set lastReview = reviews | last %}#}

                    {#{% for review in reviews %}#}

                        {#{% set col_md_offset = null %}#}

                        {#{% if review.id == lastReview.id %}#}
                            {#{% set col_md_offset = 'col-md-offset-2' %}#}
                        {#{% endif %}#}

                        {#<div class="col-md-5 single-review {{ col_md_offset }}">#}
                            {#<h4 class="single-review-label">#}
                                {#<a href="#">{{ review.event.title }}</a>#}
                            {#</h4>#}
                            {#<p class="review-add-time text-right">#}

                                {#{% set reviewDate = review.dateReceived | date('d.m.Y') %}#}
                                {#{% set reviewTime = review.dateReceived | date('H:i') %}#}

                                {#{{ reviewDate~' - '~reviewTime }}#}
                            {#</p>#}
                            {#<p class="review-text padding-right-0 padding-left-0">#}
                               {#{{ review.message | nl2br }}#}
                            {#</p>#}
                            {#<p class="review-add-time text-right">#}
                                {#<a href="#" class="read-more-link">#}
                                    {#Подробнее ...#}
                                {#</a>#}
                            {#</p>#}
                        {#</div>#}
                    {#{% endfor %}#}

                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#{% endblock %}#}

    {#<div class="row space-fix-container"></div>#}

    {#{% block counter_widgets_block %}#}
        {#<div class="container text-center col-xs-padding-right-0 padding-0-100px xs-padding-0-10px">#}
            {#<div class="counter-widgets-block">#}
                {#<div class="col-xs-12 col-sm-3 counter-widget">#}
                    {#<h4 class="counter-widget-show">455</h4>#}
                    {#<p class="counter-widget-label">Проведено мероприятий</p>#}
                {#</div>#}
                {#<div class="col-xs-12 col-sm-3 counter-widget">#}
                    {#<h4 class="counter-widget-show">1,991</h4>#}
                    {#<p class="counter-widget-label">Часов аренды</p>#}
                {#</div>#}
                {#<div class="col-xs-12 col-sm-3 counter-widget">#}
                    {#<h4 class="counter-widget-show">806</h4>#}
                    {#<p class="counter-widget-label">Оставлено отзывов</p>#}
                {#</div>#}
                {#<div class="col-xs-12 col-sm-3 counter-widget">#}
                    {#<h4 class="counter-widget-show">5,023</h4>#}
                    {#<p class="counter-widget-label">Довольных клиентов</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#{% endblock %}#}

{% endblock %}