{% extends '::base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/front/page/kontakty.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&scroll=false" type="text/javascript"></script>

    <script type="text/javascript">
        ymaps.ready(init);
        var contactsMap,
            marker,
            coordinates = [56.855492, 60.602796];

        function init(){
            contactsMap = new ymaps.Map("map", {
                center: coordinates,
                zoom: 16
            });

            marker = new ymaps.Placemark(coordinates, {
                hintContent: 'Дворец культуры железнодорожников',
                balloonContent: ''
            }
            );

            contactsMap.behaviors.disable('scrollZoom');


            contactsMap.geoObjects.add(marker);

        }
    </script>
{% endblock %}

{% block content %}
    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    <div class="space-fix-container"></div>
    {% block under_banner_text_widget %}
        <div class="container text-center col-xs-padding-right-0">

            <div class="container padding-0-100px" id="main-text-under-banner">
                <div class="text-center letter-spacing-1px banner-content-block col-xs-12">
                    <p>Если у Вас остались вопросы или хотите узнать подробности, наши специалисты</p>
                    <p>Вам с радостью помогут. Мы работаем по будням с 08:00 до 22:00 без выходных.</p>
                </div>
            </div>

        </div>
    {% endblock %}
    <div class="space-fix-container"></div>

    <div class="container text-center contact-block col-xs-padding-right-0">
        <div class="row">
            <div class="col-md-5 col-xs-12 padding-left-0 xs-padding-0-10px">
                <h4 class="text-left padding-0-100px">Контактная информация</h4>
                <h5 class="text-left padding-0-100px contact-block-line-title">
                    <strong><span class="fa fa-map-marker"></span>&nbsp;Адрес</strong>
                </h5>
                <p class="text-left padding-0-100px contact-block-line nowrap">г. Екатеринбург, ул. Челюскинцев, 102</p>
                <h5 class="text-left padding-0-100px  contact-block-line-title">
                    <strong><span class="fa fa-phone"></span>&nbsp;Телефон</strong>
                </h5>
                <div class=" padding-0-100px">
                    <ul class="text-left contact-block-line" style="list-style: none">
                        <li>Администрация: 8-952-733-15-27</li>
                        <li>Касса: +7 (343) 310-53-29</li>
                    </ul>
                </div>
                <h5 class="text-left padding-0-100px contact-block-line-title">
                    <strong><span class="fa fa-at"></span>&nbsp;E-mail</strong>
                </h5>
                <p class="text-left padding-0-100px contact-block-line nowrap">
                    <a href="mailto:dkj96@ya.ru">dkj96@ya.ru</a>
                </p>

            </div>
            <div class="col-md-7 col-xs-12 pull-right xs-padding-0-10px">
                <div id="map" style="width: 100%; height: 400px"></div>
            </div>

            <div class="col-md-12 padding-top-20px">
                <h4>Написать нам</h4>
            </div>

            <div class="col-md-12 col-xs-12 padding-top-20px xs-padding-0-10px padding-left-0 contact-form">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success flash-message">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger flash-message">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}

                {{ form_start(form, {'attr': {'class': 'padding-left-100px'}}) }}

                <div class="form-group">
                    {{ form_widget(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.message) }}
                </div>

                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
                </div>

                <div class="form-group">
                    <button class="btn-success btn pull-right no-border-radius" type="submit">Отправить</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}