{% extends 'default/front/base.html.twig' %}

{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}
{% block meta_autor %}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
		{{ page.content | raw }}
			{% for post in posts %}
			  <div class="well">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" src="http://placehold.it/150x150">
					</a>
			<div class="media-body">
				<h4 class="media-heading">
					<a href="{{ path('front.show_post', {
					'page_slug': app.request.get('slug'),
					'post_year': post.dateCreated | date('Y'),
					'post_month': post.dateCreated | date('m'),
					'post_day': post.dateCreated | date('d'),
					'post_slug': post.slug
					}) }}">
					{{ post.title }}
					</a>
				</h4>
				<p class="text-right">By {{ post.author.username }}</p>
								
				{% set postContent = post.content | striptags %}
				
				{% if postContent | length > 250 %} 
					{% set postContent = postContent | slice(0, 250) %}
					{% set postContent = postContent ~ '...' %}
				{% endif %}
				
				<p>{{ postContent }}</p>
				
			  <ul class="list-inline list-unstyled">
				<li>
					<span>
						<i class="glyphicon glyphicon-calendar"></i>
						{{ post.dateCreated | date('d.m.Y') }}
					</span>
				</li>
				<li>|</li>
				<li>
					<span>
						<i class="glyphicon glyphicon-time"></i>
						{{ post.dateCreated | date('H:i') }}
					</span>
				</li>
				<li>|</li>
				<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
				<li>|</li>
				<li>
				   <span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star-empty"></span>
				</li>
				<li>|</li>
				<li>
				<!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
				  <span><i class="fa fa-facebook-square"></i></span>
				  <span><i class="fa fa-twitter-square"></i></span>
				  <span><i class="fa fa-google-plus-square"></i></span>
				</li>
				</ul>
		   </div>
		</div>
	  </div>
		{% endfor %}
		</div>		
	</div>   
{% endblock %}
