{% extends '::base.html.twig' %}

{% block title %}Портфолио{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('node_modules/blueimp-gallery/css/blueimp-gallery.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/front/page/portfolio.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    <div class="space-fix-container"></div>

    {% block under_banner_text_widget %}
        <div class="container text-center col-xs-padding-right-0">

            <div class="container padding-0-100px" id="main-text-under-banner">
                <div class="text-center letter-spacing-1px banner-content-block col-xs-12">
                    <p>
                        {{ 'Фото- и видеоматериалы с мероприятий Дворца культуры железнодорожников' | nl2br }}
                    </p>
                </div>
            </div>

        </div>
    {% endblock %}

    <div class="container xs-padding-0-10px portfolio">
        <div class="row padding-0-50px xs-margin-right-0 xs-padding-0-10px">
            <div class="col-md-12 col-xs-12 single-widget photos">

                {% for portfolio in objects %}

                    {% set defaultImage = asset('img/logo_red.png') %}

                    {% for image in portfolio.files %}
                        {% if image.isDefault == true %}
                            {% set defaultImage = asset('upload/portfolio/'~image.name) %}
                        {% endif %}
                    {% endfor %}

                    <div class="col-lg-3">
                        <div class="thumbnail">
                            <a href="{{ path('front.portfolio.single', {'portfolio': portfolio.id}) }}">
                                <img src="{{ defaultImage }}">
                                <div class="caption">
                                    <h3>{{ portfolio.event.title }}</h3>
                                    <p>Дата мероприятия: {{ portfolio.event.eventDate | date('d.m.Y') }}</p>
                                </div>
                            </a>
                        </div>
                    </div>

                {% endfor%}

            </div>
        </div>
    </div>

    <div class="row space-fix-container"></div>

{% endblock %}