<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/sweetalert/dist/sweetalert.css') }}" rel="stylesheet">
    <script src="https://use.fontawesome.com/dd34fe19f7.js"></script>
    <link href="{{ asset('admin/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/admin/custom.css') }}" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.7.0/full/ckeditor.js"></script>
    {% block styles %}{% endblock %}

</head>

{% set routeParams = app.request.attributes.get('_route_params') %}
{% set routeName = app.request.attributes.get('_route') %}
{% set activeTabId = '' %}

<body>
<div id="wrapper">
    {% block navigation_bar %}
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('admin.index') }}">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <h3 class="font-bold">{{ app.user.username }}</h3>
                                </span>
                            </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            ДКЖ
                        </div>
                    </li>
                    <li id="dashboard">
                        <a href="{{ path('admin.index') }}"><i class="fa fa-th-large"></i>
                            <span class="nav-label">Главная</span>
                        </a>
                    </li>

                    <li id="about">
                        <a href="{{ path('admin.list', {
                            'entity': 'about'
                        }) }}">
                            <i class="fa fa-hourglass" aria-hidden="true"></i>
                            <span class="nav-label">О фонде</span>
                        </a>
                    </li>

                    <li id="news">
                        <a href="{{ path('admin.list', {
                            'entity': 'news'
                        }) }}"><i class="fa  fa-newspaper-o"></i> <span class="nav-label">Новости</span>
                        </a>
                    </li>

                    <li id="project">
                        <a href="{{ path('admin.list', {
                            'entity': 'project'
                        }) }}"><i class="fa  fa-newspaper-o"></i> <span class="nav-label">Проекты</span>
                        </a>
                    </li>

                    <li id="document">
                        <a href="{{ path('admin.list', {
                            'entity': 'document'
                        }) }}"><i class="fa  fa-newspaper-o"></i> <span class="nav-label">Документы</span>
                        </a>
                    </li>

                </ul>

            </div>
        </nav>
    {% endblock %}

    <div id="page-wrapper" class="gray-bg dashbard-1">


        {% block header %}
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46h ago</small>
                                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">5h ago</small>
                                            <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/profile.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right">23h ago</small>
                                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                            <span class="pull-right text-muted small">12 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="grid_options.html">
                                        <div>
                                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html">
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"></i> Выход
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        {% endblock %}

        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {% block footer %}
                    {#<div class="footer">#}
                        {#<div class="pull-right">#}
                            {#10GB of <strong>250GB</strong> Free.#}
                        {#</div>#}
                        {#<div>#}
                            {#<strong>Copyright</strong> Example Company &copy; 2014-2017#}
                        {#</div>#}
                    {#</div>#}
                {% endblock %}
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('admin/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('admin/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('node_modules/sweetalert/dist/sweetalert.min.js') }}"></script>

<!-- Flot -->
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.spline.js') }}"></script>
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.pie.js') }}"></script>

<!-- Peity -->
<script src="{{ asset('admin/js/plugins/peity/jquery.peity.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('admin/js/inspinia.js') }}"></script>
<script src="{{ asset('admin/js/plugins/pace/pace.min.js') }}"></script>

<!-- jQuery UI -->
<script src="{{ asset('admin/js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>

<!-- GITTER -->
<script src="{{ asset('admin/js/plugins/gritter/jquery.gritter.min.js') }}"></script>

<!-- Sparkline -->
<script src="{{ asset('admin/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

<!-- ChartJS-->
<script src="{{ asset('admin/js/plugins/chartJs/Chart.min.js') }}"></script>

<!-- Toastr -->
<script src="{{ asset('admin/js/plugins/toastr/toastr.min.js') }}"></script>

<script>

    $('.delete-object').on('click', function () {

        var objectName = $(this).data('objectname'),
            objectId = $(this).data('objectid'),
            isRemoved = $(this).data('isremoved');

        if (isRemoved === 0) {
            //if isRemoved is FALSE then set requestStatus parameter equal to 0 -> soft delete
            swalMessageConstructor(0, objectName, objectId);
        } else {
            //if isRemoved is TRUE then set requestStatus parameter equal to -1 -> hard delete delete
            swalMessageConstructor(-1, objectName, objectId);
        }
    });

    $('.repair-object').on('click', function () {

        var objectName = $(this).data('objectname'),
            objectId = $(this).data('objectid'),
            isRepair = $(this).data('isrepair');

        if (isRepair === 1) {
            //if isRemoved is TRUE then set requestStatus parameter equal to 1 -> repair
            swalMessageConstructor(1, objectName, objectId);
        }

    });

    function swalMessageConstructor(requestStatus, objectName, objectId) {

        var swalActionParams = {},
            rowId = objectName+'_'+objectId;

        switch (requestStatus) {
            case -1:
                swalActionParams.url = '{{ path('admin.api.object_delete') }}';
                swalActionParams.actionName = 'hardDelete';
                break;
            case 0:
                swalActionParams.url = '{{ path('admin.api.object_delete') }}';
                swalActionParams.actionName = 'softDelete';
                break;
            case 1:
                swalActionParams.url = '{{ path('admin.api.object_repair') }}';
                swalActionParams.actionName = 'repair';
                break;
        }

        return swalAjaxAction( swalActionParams.actionName, swalActionParams.url, objectName, objectId, rowId);
    }

    function swalAjaxAction(actionName, actionUrl, objectName, objectId, rowId) {

        var swalMessageParams = {};

        switch (actionName) {
            case 'hardDelete':
                swalMessageParams.title = 'Удалить объект?';
                swalMessageParams.text = 'Объект будет удален окончательно';
                swalMessageParams.type = 'warning';
                swalMessageParams.confirmButtonColor = '#DD6B55';
                swalMessageParams.confirmButtonText = 'Удалить';
                swalMessageParams.url = actionUrl;
                swalMessageParams.confirmActionTitle = 'Объект был успешно удален из корзины';
                swalMessageParams.confirmActionText = '';
                swalMessageParams.confirmActionType = 'success';
                break;
            case 'softDelete':
                swalMessageParams.title = 'Удалить объект?';
                swalMessageParams.text = 'Объект будет удален в корзину';
                swalMessageParams.type = 'warning';
                swalMessageParams.confirmButtonColor = '#DD6B55';
                swalMessageParams.confirmButtonText = 'Удалить';
                swalMessageParams.url = actionUrl;
                swalMessageParams.confirmActionTitle = 'Объект был успешно удален в корзину';
                swalMessageParams.confirmActionText = 'Вы можете переместить объект в из корзины обратно в список';
                swalMessageParams.confirmActionType = 'success';

                break;
            case 'repair':
                swalMessageParams.title = 'Восстановить объект?';
                swalMessageParams.text = 'Объект будет восстановлен в списке';
                swalMessageParams.type = 'info';
                swalMessageParams.confirmButtonColor = '#26DD3D';
                swalMessageParams.confirmButtonText = 'Восстановить';
                swalMessageParams.url = actionUrl;
                swalMessageParams.confirmActionTitle = 'Объект был успешно восстановлен';
                swalMessageParams.confirmActionText = 'Он будет доступен в списке объектов';
                swalMessageParams.confirmActionType = 'success';
                break;
        }

        return swal({
            title: swalMessageParams.title,
            text: swalMessageParams.text,
            type: swalMessageParams.type,
            showCancelButton: true,
            confirmButtonColor: swalMessageParams.confirmButtonColor,
            confirmButtonText: swalMessageParams.confirmButtonText,
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: actionUrl,
                method: 'post',
                data: {
                    'objectName': objectName,
                    'objectId': objectId
                },
                success: function () {
                    swal({
                        title: swalMessageParams.confirmActionTitle,
                        text: swalMessageParams.confirmActionText,
                        type: swalMessageParams.confirmActionType
                    }, function () {
                        $('#'+rowId).remove();
                    });

                }
            });
        });

    }
</script>

{% block scripts %}{% endblock %}

</body>

</html>