{% extends ':default/admin:base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
{% endblock %}

{% block scripts %}
    <script src="{{ asset('node_modules/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <script>

        var events = [],
            url = '{{ path('admin.booking.details', {'booking': '_booking'}) }}';

        {% for booking in bookings %}
        var event = {
            id: '{{ booking.id }}',
            title: '{{ booking.email }}',
            phone: '{{ booking.phone }}',
            start: '{{ booking.date | date('Y-m-d') }}',
            editable: false,
            overlap: false
        };
        events.push(event);
        {% endfor %}

        $('#calendar').fullCalendar({
            events: events,
            eventRender: function(event, element) {
                element.find('.fc-title').after("<p id=phone>"+event.phone+"</p>");
                element.find('#phone').after("<a href='"+url.replace('_booking', event.id)+"' target='_blank'>Детали брони</a>");
            }
        });
    </script>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">

                <h5>{{ hall.title }}: календарь бронирований</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
            <div class="ibox-footer">

            </div>
        </div>
    </div>
{% endblock %}