{% extends '::base.html.twig' %}

{% block title %} Залы {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/front/page/zaly.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('node_modules/fullcalendar/dist/locale/ru.js') }}"></script>

    <script>

        var events = [];

        {% for event in events %}

        var event = {
            start: '{{ event.eventDate | date('Y-m-d') }}',
            title: '{{ event.title }}',
            date: '{{ event.eventDate | date('d.m.Y') }}',
            time: '{{ event.eventTime | date('H:i') }}',
            rendering: 'background',
            url: '{{ path('event.details_page', {
                'event': event.id
            }) }}'
        };
        events.push(event);
        {% endfor %}


        $('#calendar').fullCalendar({
            defaultDate: $(this).fullCalendar('today'),
            events: events,
            eventBackgroundColor: '#0AD26E',
            locale: 'ru',
            eventRender: function(event, element) {
                $(element)
                    .html(
                        '<div class="event-info-block">' +
                        '<p class="text-center"><a href="'+event.url+'" target="_blank" style="color: white; font-size: 16px; text-decoration: underline">'+event.title+'</a></p>' +
                        '<p style="color: white; font-size: 16px;"><span class="fa fa-calendar"></span> '+event.date+'</p>' +
                        '<p style="color: white; font-size: 16px;"><span class="fa fa-clock-o"></span> '+event.time+'</p>' +
                        '</div>'
                );
            }
        });
    </script>
{% endblock %}

{% block content %}
    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    <div class="space-fix-container"></div>

    {% block under_banner_text_widget %}
        <div class="container padding-0-100px" id="main-text-under-banner">
            <div class="text-center letter-spacing-1px banner-content-block">
                <p class="padding-0-100px">
                   Анонс мероприятий в Дворце Культуры Железнодорожников
                </p>
            </div>
        </div>
    {% endblock %}

    {% for event in events %}
        {% for file in event.files %}
            {% if file.isDefault == true %}
                {% set bgimg = file.name %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="space-fix-container"></div>

    <div class="container padding-left-0 padding-right-0 halls-list-block">
        <div id="calendar"></div>
    </div>

{% endblock %}