<nav class="navbar navbar-default hidden-lg hidden-md mobile-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand site-logo" href="{{ path('front.index') }}">
                <img src="{{ asset('img/logo_dkj.jpg') }}">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                {% for link, name in mainMenu %}

                    {% set active = null %}

                    {% if page == 'front.index' %}
                        {% if link == '' %}
                            {% set active = 'active' %}
                        {% endif %}
                    {% endif %}

                    {% if page == link %}
                        {% set active = 'active' %}
                    {% endif %}


                    <li class="{{ active }} "><a href="{{ path(link) }}">{{ name }}</a></li>

                {% endfor %}
            </ul>
        </div>
    </div>
</nav>