<div class="col-md-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			{% set sectionName = 'admin.'~app.request.attributes.get('_route_params')['entity']  %}
			<h5>{{ sectionName | trans }}: список объектов</h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<table class="table table-responsive">
				<thead>
				<th>Название</th>
				<th>Дата создания</th>
				<th class="text-center">Автор</th>
				<th class="text-right">Управление</th>
				</thead>
				<tbody>

				{% for object in objects %}
					<tr id="{{ routeParams.entity~'_'~object.id }}">
						<td>{{ object.title }}</td>
						<td>{{ object.dateCreated | date('d.m.Y') }}</td>
						<td class="text-center">
							{{ object.author.username }}
						</td>
						<td class="text-right">

							<div class="btn-group">
								<a href="{{ path('admin.manage', {
									'entity': entity,
									'id': object.id
								}) }}" role="button" class="btn btn-success">
									<span class="fa fa-edit"></span>
								</a>

								<button class="btn btn-danger delete-object"
								   data-isremoved="{% if object.isRemoved == false %}0{% endif %}"
								   data-objectname="{{ routeParams.entity }}"
								   data-objectid="{{ object.id }}">
									<span class="fa fa-trash"></span>
								</button>
							</div>
						</td>
					</tr>
				{% endfor %}

				</tbody>
			</table>
		</div>
		<div class="ibox-footer">
			<a href="{{ path('admin.manage', {
				'entity': app.request.get('entity')
			}) }}" role="button" class="btn btn-primary">
				Добавить
			</a>

			<a href="{{ path('admin.trash', {'entity': app.request.get('entity') }) }}" role="button" class="btn btn-warning pull-right">
				<span class="fa fa-trash"></span> Корзина
			</a>
		</div>
	</div>
</div>