{% extends '::base.html.twig' %}

{% block title %}{{ hall.title }}{% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
        <link href="{{ asset('node_modules/blueimp-gallery/css/blueimp-gallery.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/front/page/zaly.css') }}" rel="stylesheet">
    {% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('node_modules/fullcalendar/dist/locale/ru.js') }}"></script>
    <script src="{{ asset('node_modules/blueimp-gallery/js/blueimp-gallery.min.js') }}"></script>

    <script>
        var events = [];

        $('#calendar').fullCalendar({
            defaultDate: $(this).fullCalendar('today'),
            events: events,
            eventBackgroundColor: 'red',
            locale: 'ru'
        });

        $('#myModal').on('shown.bs.modal', function () {
            $("#calendar").fullCalendar('render');
        });

        $('#gallery').on('shown.bs.modal', function() {
            $('#links').on('click', function (event) {
                event = event || window.event;
                var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
                blueimp.Gallery(links, options);
            })
        })
    </script>
{% endblock %}

{% block content %}
    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    {% set files = [] %}

    {% for file in hall.files %}

        {% if file.isDefault == false %}
            {% set files = files | merge([file]) %}
        {% endif %}

    {% endfor %}

    {% set images = [] %}
    {% set videos = [] %}

    {% for file in files %}
        {% if in_array(file.mimeType, imagesExt) %}
            {% set images = images | merge ([file]) %}
        {% endif %}

        {% if in_array(file.mimeType, videosExt) %}
            {% set videos = videos | merge ([file]) %}
        {% endif %}
    {% endfor %}

    <div class="container col-xs-padding-right-0 single-hall-page">

        <div class="space-fix-container"></div>

        <div class="row xs-padding-0-10px">
            <div class="col-xs-12 text-left padding-0-100px">
                <ol class="breadcrumb single-hall-page-breadcrumbs">
                    <li class="breadcrumb-item"><a href="{{ path('halls.list') }}">Залы</a></li>
                    <li class="breadcrumb-item active">{{ hall.title }}</li>
                </ol>

            </div>
        </div>

        <div class="space-fix-container"></div>

        <div class="row xs-padding-0-10px padding-0-100px single-hall-page-content">
            <div class="col-xs-12">
               <div class="row">
                   <div class="col-sm-10">
                       <h4 class="underscored-label">
                           {{ hall.title }}
                       </h4>
                   </div>

                   <div class="col-sm-2 col-xs-12 pull-right">
                       <a href="{{ path('halls.book_hall', {'hall': hall.id}) }}"
                          class="btn btn-default xs-width-100 no-border-radius"
                          data-tooltip="tooltip"
                          data-placement="top"
                          title="Бронирование"
                          role="button"
                          target="_blank">
                           <i class="fa fa-lock" aria-hidden="true"></i> <label class="hidden-sm hidden-lg hidden-md">Бронирование</label>
                       </a>

                       <button type="button"
                               class="btn btn-default xs-width-100 no-border-radius"
                               data-tooltip="tooltip"
                               data-placement="top"
                               data-toggle="modal"
                               title="Занятость зала"
                               data-target="#myModal">
                           <i class="fa fa-calendar-o" aria-hidden="true"></i> <label class="hidden-sm hidden-lg hidden-md">Занятость зала</label>
                       </button>

                       {% if images is not empty %}
                           <button
                                   type="button"
                                   id="init-photoswipe"
                                   class="btn btn-default xs-width-100 no-border-radius"
                                   data-dir="hall"
                                   data-toggle="modal"
                                   data-target="#gallery"
                                   data-tooltip="tooltip"
                                   data-placement="top"
                                   title="Галерея">
                               <i class="fa fa-camera" aria-hidden="true"></i> <label
                                       class="hidden-sm hidden-lg hidden-md">Галерея</label>
                           </button>
                       {% endif %}
                   </div>
               </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Вместимость: {{ hall.capacity }} чел.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-xs-12">
               <p>
                   {{ hall.description }}
               </p>
            </div>
            <div class="col-xs-12 padding-top-20px">
                {{ hall.content | raw }}
            </div>
            <div class="col-xs-12">
                <a href="#demo" class="read-more-link pull-right" data-toggle="collapse">
                    Подробнее о дополнительных услугах
                </a>

            </div>
            <div class="col-xs-12 collapse padding-top-20px" id="demo">
                {{ hall.specification | raw }}
            </div>
        </div>

        <div class="modal fade" id="gallery" role="dialog">
            <div class="modal-dialog modal-gallery">

                <!-- Modal content-->
                <div class="modal-content no-border-radius">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Галерея {{ hall.title }}</h4>
                    </div>
                    <div class="modal-body">
                        <div id="links" class="links row">
                            {% for image in images %}
                                <div class="col-sm-4 col-xs-12 text-center modal-gallery-image-thumbnail">
                                    <a href="{{ asset('upload/hall/'~image.name) }}">
                                        <img src="{{ asset('upload/hall/'~image.name) }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger no-border-radius pull-right" data-dismiss="modal">
                            <span class="fa fa-times"></span> Закрыть
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content no-border-radius">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Занятость зала "{{ hall.title }}"</h4>
                    </div>
                    <div class="modal-body">
                        <div id='calendar'></div>

                        <div>
                            <p>
                                <i class="fa fa-square" aria-hidden="true" style="color: red"></i> - Забронировано
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('halls.book_hall', {'hall': hall.id}) }}"
                           class="btn btn-primary no-border-radius pull-left" target="_blank">
                            <span class="fa fa-lock"></span> Бронировать
                        </a>
                        <button type="button" class="btn btn-danger no-border-radius pull-right" data-dismiss="modal">
                            <span class="fa fa-times"></span> Закрыть
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    </div>

{% endblock %}